body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* MAIN CSS */
.main_div{
    background-color: lightgray;
    margin: 5px 0px;
    width:100%;
}
.left_sub_div{
    text-align: left;
    width: 33.33%;
    min-height:50px;
    display: inline-block;
}
.center_sub_div{
    text-align: center;
    color: grey;
    width: 33.33%;
    min-height:50px;
    display: inline-block;
}
.right_sub_div{
    text-align: right;
    width: 33.33%;
    min-height:50px;
    display: inline-block;
}
.realtor_logo{
    max-width: 10%;
    max-height: 10%;
}

/* HOME CSS */
.home_div{
    display: flex;
    justify-content: center;
    margin: 1% 5% 5% 5%;
}
.align_center{
    text-align: center;
}

/* DETAIL CSS */
.detail_div{
    margin: 0% 5% 5% 5%;
}
.detail_table{
    width: 130%;
}

/* PROFILE CSS */
.profile_div{
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}
.profile_text_align{
    text-align:center;
}
.profile_table{
    width: 550px;
}
.row_css{
    font-weight: 700;
    width: 20%;
}
.profile_logo{
    max-width: 65%;
    max-height: 5%;
}

